[Desktop Entry]
Encoding=UTF-8
Name=Link to Can I use... Support tables for HTML5, CSS3, etc
Type=Link
URL=https://caniuse.com/#comparison
Icon=text-html
