[Desktop Entry]
Encoding=UTF-8
Name=Link to Ende-zu-Ende-verschlüsselter Cloudspeicher für Unternehmen | Tresorit
Type=Link
URL=https://tresorit.com/de?gclid=Cj0KCQjwvezZBRDkARIsADKQyPkw-owFLNRY2gw2ctbHnwWjirOtJZxety58TYiuwlxcdG58kh5o-sgaAs3XEALw_wcB
Icon=text-html
