[Desktop Entry]
Encoding=UTF-8
Name=Link to Open Source Password Management Solutions | Bitwarden
Type=Link
URL=https://bitwarden.com/
Icon=text-html
